# NOIP-DUC Dynamic Update Client - Config - Managed by Ansible
NOIP_USERNAME={{ noip_username }}
NOIP_PASSWORD={{ noip_passowrd }}
{% for item in NOIP_DOMAIN_NAMES %}
NOIP_HOSTNAMES={{ item }}{% if not loop.last %},{% endif %}
{% endfor %}
NOIP_EXEC_ON_CHANGE=
NOIP_CHECK_INTERVAL={{ 900 }}
NOIP_LOG_LEVEL=info